// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.anime_test {
    display:  block;                /* ブロック要素にする */
    margin: 0 auto;                 /* 要素中央揃え */
    position:  relative;            /* 位置指定 */
    animation: anime1 1s ease;      /* アニメーション指定 */
}
 
@keyframes anime1 {
    0% {
        opacity:  0;                /* 透明度指定 */
        top: 50px;                  /* 位置指定 */
    }
    100% {
        opacity:  1;                /* 透明度指定 */
        top: 0;                     /* 位置指定 */
    }
}

body {
    background-image: url("NVpIM2ptOHhYRzVmUk5rM1NrNlFxYVV6enV4aGk2UFRJMmxPckdDUUVNWlc0dm1XSndrNXVKa3ZzQ0VQYTB3RXlMeGpXRW1UWFFQdmpOOWR0aUhnVHV6dDQveFpwaDNEOTdiamlZbU1ya3IveTMra01BOEJBSzRGSU9PRXR6cHJQcGkyWUtPdGxOejNZYW95UUFtMVRXaEdUWG9iUVhuaW4rUjlUc0RhV2JPTkNicEZLek1.jpeg");
}